body{
    background: linear-gradient(rgb(117, 186, 251, 0) 0%, rgb(117, 186, 251, 1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.upperContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteKey{
    width: 25px;
    height: 80px;
    background: white;
    border: 1px solid gray;
    text-align: center;
    line-height: 130px;
}

.blackKey{
    width: 15px;
    height: 50px;
    background: black;
    border: 1px solid gray;
    line-height: 120px;
}
