body{
    background: linear-gradient(rgb(117, 186, 251, 0) 0%, rgb(252, 255, 165) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome{
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
    position: relative;
    left: 600px;
    top: 0px;
}

.directions{
    font-size: 20px;
    width: 600px;
    line-height: 24px;
    margin-bottom: 5px;
    position: relative;
    left: 450px;
    top: 10px;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: absolute;
    left: 70px;
    top: 200px;
}

.whiteKey{
    width: 25px;
    height: 80px;
    background: white;
    border: 1px solid gray;
    text-align: center;
    line-height: 130px;
}

.upperContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%
}

.blackKey{
    width: 15px;
    height: 50px;
    background: black;
    border: 1px solid gray;
    line-height: 120px;
    position: absolute;
}

#B0_flat{
    margin-right: 1330px;
    top: 355px;
}

#D1_flat{
    margin-right: 1225px;
    top: 355px;
}

#E1_flat{
    margin-right: 1175px;
    top: 355px;
}

#G1_flat{
    margin-right: 1065px;
    top: 355px;
}

#A1_flat{
    margin-right: 1015px;
    top: 355px;
}

#B1_flat{
    margin-right: 965px;
    top: 355px;
}

#D2_flat{
    margin-right: 855px;
    top: 355px;
}

#E2_flat{
    margin-right: 800px;
    top: 355px;
}

#G2_flat{
    margin-right: 695px;
    top: 355px;
}

#A2_flat{
    margin-right: 640px;
    top: 355px;
}

#B2_flat{
    margin-right: 585px;
    top: 355px;
}

#D3_flat{
    margin-right: 480px;
    top: 355px;
}

#E3_flat{
    margin-right: 425px;
    top: 355px;
}

#G3_flat{
    margin-right: 320px;
    top: 355px;
}

#A3_flat{
    margin-right: 265px;
    top: 355px;
}

#B3_flat{
    margin-right: 215px;
    top: 355px;
}

#D4_flat{
    margin-right: 105px;
    top: 355px;
}

#E4_flat{
    margin-right: 55px;
    top: 355px;
}

#G4_flat{
    margin-left: 50px;
    top: 355px;
}

#A4_flat{
    margin-left: 105px;
    top: 355px;
}

#B4_flat{
    margin-left: 155px;
    top: 355px;
}

#D5_flat{
    margin-left: 265px;
    top: 355px;
}

#E5_flat{
    margin-left: 320px;
    top: 355px;
}

#G5_flat{
    margin-left: 425px;
    top: 355px;
}

#A5_flat{
    margin-left: 475px;
    top: 355px;
}

#B5_flat{
    margin-left: 530px;
    top: 355px;
}

#D6_flat{
    margin-left: 635px;
    top: 355px;
}

#E6_flat{
    margin-left: 690px;
    top: 355px;
}

#G6_flat{
    margin-left: 795px;
    top: 355px;
}

#A6_flat{
    margin-left: 850px;
    top: 355px;
}

#B6_flat{
    margin-left: 900px;
    top: 355px;
}

#D7_flat{
    margin-left: 1010px;
    top: 355px;
}

#E7_flat{
    margin-left: 1065px;
    top: 355px;
}

#G7_flat{
    margin-left: 1170px;
    top: 355px;
}

#A7_flat{
    margin-left: 1220px;
    top: 355px;
}

#B7_flat{
    margin-left: 1275px;
    top: 355px;
}